p {
  font-family: $raleway;
  font-weight: $regular;
  font-size: $medium;
  color: $Granite-gray;
}

h3 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $large;
  color: $Granite-gray;
  text-align: center;
}


h2 {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $x-large;
  color: $white;
  text-align: center;
}

h1 {
  color:$white;
  font-family: $raleway;
  font-weight: $bold;
  font-size: $xx-large;
  text-align: center;
 }
